
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Örnek Leaflet Projesi</title>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAysTuMQAzFlujeifjy1oztAy3lXlxciUw" async defer></script>

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin="" />

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>

    <script src='https://unpkg.com/leaflet.gridlayer.googlemutant@latest/Leaflet.GoogleMutant.js'></script>

    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js"></script>


    <link href="~/Style/style.css" rel="stylesheet" />


</head>
<body>

    <div id="map"></div>
    <div id="queryAdres" class="btn btn-primary">Adres Sorgula</div>
    
        <div class="row mt-4 w-100">
            <div class="col-md-6 mx-auto">
                <table id="districtTable" class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Mahalle Adı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            <div class="col-md-6 mx-auto">
                <table id="doorTable" class="table table-hover ">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Kapı No</th>
                            <th scope="col">Mahalle Adı</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>

    

    <script src="~/Scripts/operations.js"></script>

</body>
</html>
